:root {
    --background-primary: #0b0c11;
    --background-secondary: #0f1117;
    --text-primary: #fff;
    --button-primary: rgba(0, 128, 0, 0.314);
    --button-secondary: #0076a934;
}

body {
    background: var(--background-primary);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-primary);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    color: #fff;
    background-color: var(--background-secondary);
    border: 1px solid var(--button-secondary);
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.buttons-container input[type="button"]:hover {
    opacity: 1;
}
#button-secondary {
    margin:0px -2em;
    background: var(--button-secondary);
}
.buttons-container input[type="button"] {
    width: 48%;
    padding: 10px;
    opacity: 0.7;
    background: var(--button-primary);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s;
}

.warning {
    width: 103%;
    color: #a90000;
    background-color: #a90e0013;
    border: 1px solid #a90000;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px;
    margin: 0px 0px 15px;
    display: block;
}

#result {
    margin: 16px 0px 16px;
    text-align: center;
    font-weight: bold;
}

.info {
    width: 103%;
    color: #0076a9;
    background-color: #0076a913;
    border: 1px solid #0076a9;
    border-radius: 5px;
    font-size: 12px;
    padding: 7px;
    margin: 0px 0px 15px;
    display: block;
}

.success {
    width: 103%;
    color: #38a900;
    background-color: #11a90013;
    border: 1px solid #0ba900;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px;
    margin: 0px 0px 15px;
    display: block;
}